* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    @media (max-width: 425px) {
        font-size: 13px;
    }
}

body {
    background: $color-beige;
    color: $color-text;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

label.fake {
    font-size: 0.75rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
    display: block;
}

input {
    padding: 0.5rem;
    border: 1px solid $color-gray;
}

.list-item-chart {
    margin: 1.5rem 0;
}

@keyframes spinner {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(0.5rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}